.wpcf7-form {
    @apply mx-auto mt-12 w-full max-w-2xl text-xl;

    &.invalid,
    &.failed {
        .wpcf7-response-output {
            @apply border-0 text-red-800;
        }
    }

    .wpcf7-not-valid-tip {
        @apply text-red-800;
    }

    .wrapper-flex {
        p {
            @screen md {
                @apply flex space-x-6;
            }
        }
    }

    .wpcf7-text {
        @apply w-full border-2 border-transparent border-b-black bg-transparent px-2 py-1;

        &:focus,
        &:valid {
            @apply font-medium;
        }

        &:focus {
            @apply rounded border-2 border-black outline-none;
        }

        &:autofill {
            background-clip: text;
            -webkit-text-fill-color: black;
            transition: background-color 5000s ease-in-out 0s;
            box-shadow: inset 0 0 20px 20px #ecebeb00;
        }
    }

    .wpcf7-email {
        @apply w-full;
    }

    .wpcf7-textarea {
        @apply mt-2 w-full rounded-md border-2 border-black bg-transparent p-2;

        &:focus,
        &:valid {
            @apply font-medium;
        }

        &:focus {
            @apply rounded border-2 border-black outline-none;
        }
    }

    .wpcf7-submit {
        @apply cursor-pointer rounded-full  border-2 border-black px-6 py-2 font-medium uppercase transition-all duration-300;

        max-width: 120px;
        font-size: clamp(1rem, 1.25vw, 1.25rem);

        @screen md {
            max-width: 180px;
        }

        &:hover {
            @apply bg-black text-white transition-all duration-300;
        }
    }
}
