{
    "plugins": ["prettier-plugin-tailwindcss", "@shufo/prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "tabWidth": 4,
                "sortTailwindcssClasses": true,
                "sortHtmlAttributes": "code-guide"
            }
        }
    ],
    "bracketSpacing": false,
    "jsxBracketSameLine": true,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false
}
